<div class="content">
  <router-outlet></router-outlet>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let car of cars">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Car: {{car.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{car.imgsrc}}">
        <mat-card-content>
          <!--<p>-->
          <!--Fuel : {{car.fuel}}-->
          <!--</p>-->
          <mat-list class="list-horizontal">
            <mat-list-item>
              <i class="material-icons">timelapse</i>
              Car year : {{car.year}}
            </mat-list-item>
            <mat-list-item>
              <i class="material-icons">drive_eta</i>
              Car mileage : {{car.mileage}} km
            </mat-list-item>
            <mat-list-item>
              <i class="material-icons">ev_station</i>
              Fuel : {{car.fuel}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="openDialog(car)">Rent a car</button>
          <!--<button mat-button>SHARE</button>-->
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>
