<mat-card>
  <mat-card-content>
      <h2>Log In</h2>

      <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
      <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="User name" [(ngModel)]="username" placeholder="Enter User Name">
        <mat-error>
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password"  [(ngModel)]="password" id="password" placeholder="Enter password">
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)=handleLogin()>Login</button>

  </mat-card-content>
</mat-card>
