<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
    </button>
    <h1>Rental car</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/login'"> login </a>
      <a mat-button [routerLink]="'/cars'"> cars </a>
      <a mat-button [style]="showButtonForLoggedUser()" [routerLink]="'/myrentals'">{{ this.isAdmin() ? "all rents" : "my rents" }}</a>
      <a mat-button [style]="showButtonForLoggedUser()" (click)="logout()">logout</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

